<%- include('header') -%>

    <table>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for( let contact of contacts ) { %>

                <tr>
                    <td>
                        <%= contact.first %>
                    </td>
                    <td>
                        <%= contact.last %>
                    </td>
                    <td>
                        <%= contact.phone %>
                    </td>
                    <td>
                        <%= contact.email %>
                    </td>
                    <td>
                        <a href="/contacts/<%= contact.id %>/edit">Edit</a>
                        <a href="/contacts/<%= contact.id %>">View</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <p>
        <a href="/contacts/new">Add Contact</a> (1)
    </p>
    <%- include('footer') -%>